STANDALONE_SBOX_BASE_URL=https://blueprints.sbox-mfe.jamf.io

JAMF_PRO_CUSTOM_BASE_URL=https://vhdpsvhf.pyro.jamf.build
JAMF_PRO_CUSTOM_API_USERNAME=
JAMF_PRO_CUSTOM_API_PASSWORD=
JAMF_PRO_CUSTOM_ACCOUNT_EMAIL=
JAMF_PRO_CUSTOM_ACCOUNT_PASSWORD=

JAMF_SCHOOL_CUSTOM_BASE_URL=https://oceanplaywrightstage.dev.jamfnimbus.cloud
JAMF_SCHOOL_CUSTOM_API_USERNAME=
JAMF_SCHOOL_CUSTOM_API_PASSWORD=
JAMF_SCHOOL_CUSTOM_ACCOUNT_EMAIL=
JAMF_SCHOOL_CUSTOM_ACCOUNT_PASSWORD=
